footer
	.inner
		.cols
			.col-sm
				section
					a(href='#').icon.facebook
						img
					a(href='#').icon.twitter
						img
					a(href='#').icon.instagram
						img
					a(href='#').icon.linkedin
						img
			.col-lg
				p &copy; 2019 Candid. All rights reserved. 
					a(href='#') Privacy Policy
					| .
				p Candid is a 501c3 nonprofit organization, EIN XX-XXXXXXX. Candid connects people who want to change the world to the resources they need to do it.
			
