header
	.inner
		.cols
			.col-md
				a(href='./index.html').candid-logo
					span.screen-reader-text Candid.
					span.logo-text .
			.col-md
				.faq
					a(href='./faq.html')
						.desktop Answers to Your Questions
						h3.mobile ?