header
	.inner
		.cols
			.col-sm
				a(href='./index.html').candid-logo
					span.screen-reader-text Candid.
					span.logo-text .
			.col-lg
				.faq
					a(href='./faq.html')
						.desktop FAQs
						h3.mobile ?