footer
	.inner
		.cols
			.col-sm
				section
					a(href='#').icon
						img
					a(href='#').icon
						img
					a(href='#').icon
						img
					a(href='#').icon
						img
			.col-lg
				p
					| Copyright 
					| &copy;
					| 2019, Candid. All rights reserved. 
					a(href='#') Privacy Policy
					| .
				p Candid is a 501(c)(3) nonprofit organization, EIN XX-XXXXXXX. Candid connects people who want to change the world to the resources they need to do it.
			
