doctype html

html(xmlns='http://www.w3.org/1999/xhtml' lang='en-US')
	include partials/head.pug
	body
		include partials/header.pug
		main
			.inner
				section
					h1
						| Foundation Center and GuideStar are 
						span.candid-logo
							span.screen-reader-text Candid.
							span.logo-text .

				section
					h2 What is Candid?
					h3 Foundation Center and GuideStar joined forces to become Candid, a 501c3 nonprofit organization. Candid connects people who want to change the world to the resources they need to do it. 

				section
					h2 Why?
					h3 Every year, millions of nonprofits spend trillions of dollars around the world. Candid finds out where that money comes from, where it goes, and why it matters. Through research, collaboration, and training, Candid connects people who want to change the world to the resources they need to do it. Candid’s data tools on nonprofits, foundations, and grants are the most comprehensive in the world. 

				section
					h2 Where are the Foundation Center and GuideStar websites?
					h3 We’re working on bringing all of our resources together. For now, you can access Foundation Center and GuideStar products and services through their websites:

					.logos
						a.logo.fc(href='http://foundationcenter.org/' target='_blank')
							span Foundation Center
						a.logo.gs(href='https://www.guidestar.org/' target='_blank')
							span GuideStar

				section
					h3 Here are some things you can do today.

				section
					.cols
						.col-sm
							h4.sm-h3 Explore

						.col-lg
							.accordion
								.item
									strong.toggle Research Nonprofits
									.collapsable
										.content
											ul
												li
													div Search free information on nonprofit organizations
													.links
														a(href="https://www.guidestar.org/search") GuideStar Search
														span
														a(href="http://foundationcenter.org/find-funding/990-finder" target="_blank") Foundation Center 990 Finder
												li
													div Filter, analyze, and download data on 2.7 million nonprofits
													.links
														a(href="https://learn.guidestar.org/products/guidestar-pro" target="_blank") GuideStar Pro
								.item
									strong.toggle Find Funding
									.collapsable
										.content
											ul
												li
													div Search 140,000 funders and 12 million grants to find funding
													.links
														a(href="https://fconline.foundationcenter.org/" target="_blank") Foundation Directory Online
								.item
									strong.toggle Verify Nonprofits
									.collapsable
										.content
											ul
												li
													div Confirm a nonprofit’s eligibility for grants and contributions
													.links
														a(href="https://learn.guidestar.org/products/verification-solutions/guidestar-charity-check" target="_blank") GuideStar Charity Check
								.item
									strong.toggle Explore Issues
									.collapsable
										.content
											ul
												li
													div Explore funding landscapes on critical global issues
													.links
														a(href="http://foundationcenter.org/gain-knowledge/foundation-landscapes" target="_blank") Foundation Landscapes
												li
													div Tap into collective wisdom on critical social issues.
													.links
														a(href="https://issuelab.org/" target="_blank") IssueLab
								.item
									strong.toggle Stay Up to Date
									.collapsable
										.content
											ul
												li
													div Get the latest news, jobs, RFPs, and more
													.links
														a(href="https://philanthropynewsdigest.org/" target="_blank") Philanthropy News Digest
											

				section
					.cols
						.col-sm
							h4.sm-h3 Strengthen
						.col-lg
							.accordion
								.item
									strong.toggle Improve Your Nonprofit
									.collapsable
										.content
											ul
												li
													div Increase your organization’s transparency
													.links
														a(href="http://www.guidestar.org/update" target="_blank") Update your GuideStar Nonprofit Profile
												li
													div Take your fundraising skills to the next level
													.links
														a(href="https://grantspace.org/" target="_blank") GrantSpace Training
												li
													div Access our in-depth resources at a library near you
													.links
														a(href="http://foundationcenter.org/connect-with-us/funding-information-network" target="_blank") Funding Information Network
												li
													div Learn about nonprofit compensation trends
													.links
														a(href="https://learn.guidestar.org/products/nonprofit-compensation-solutions/guidestar-nonprofit-compensation-report" target="_blank") GuideStar Nonprofit Compensation Report
								.item
									strong.toggle Improve Your Foundation
									.collapsable
										.content
											ul
												li
													div Integrate our data to streamline your grant making process
													.links
														a(href="https://learn.guidestar.org/foundation-resources#integrate" target="_blank") GuideStar Foundation Resources
												li
													div Get practical wisdom from funders worldwide
													.links
														a(href="https://grantcraft.org/" target="_blank") GrantCraft
												li
													div Encourage giving by sharing data on local nonprofits 
													.links
														a(href="https://learn.guidestar.org/nonprofit-profile-program" target="_blank") GuideStar Profile Training
												li
													div Add a comprehensive nonprofit directory to your website
													.links
														a(href="https://learn.guidestar.org/guidestar-local-nonprofit-directory" target="_blank") GuideStar Local Nonprofit Directory

				section
					.cols
						.col-sm
							h4.sm-h3 Connect
						.col-lg
							.accordion
								.item
									strong.toggle Use Our Data
									.collapsable
										.content
											ul
												li
													div Show data on your site with our APIs
													.links
														a(href="https://learn.guidestar.org/products/business-solutions/guidestar-apis" target="_blank") GuideStar APIs
														span
														a(href="http://foundationcenter.org/gain-knowledge/foundation-data/foundation-center-apis" target="_blank") Foundation Center APIs
												li
													div Get custom data sets for your project
													.links
														a(href="#") Nonprofit Data
														span
														a(href="http://foundationcenter.org/gain-knowledge/foundation-data" target="_blank") Foundation Data

				section
					.cols
						.col-sm
							h4.sm-h3 Share
						.col-lg
							.accordion
								.item
									strong.toggle Tell Your Story
									.collapsable
										.content
											ul
												li
													div Make your foundation more open about what you do and why
													.links
														a(href="http://glasspockets.org/") GlassPockets
												li
													div Improve philanthropy by sharing grants data
													.links
														a(href="http://foundationcenter.org/gain-knowledge/foundation-data/share-your-knowledge") Share Your Data

		include partials/footer.pug