doctype html

html(xmlns="http://www.w3.org/1999/xhtml" class="wp-toolbar"  lang="en-US")
	head
		meta(http-equiv="content-type" content="text/html; charset=UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="profile" href="http://gmpg.org/xfn/11")
		link(rel="stylesheet" href="style.css")
		script(type='text/javascript' src='scripts.js')
	body

		header
			.inner
				object(type='image/svg+xml' data='images/logo_candid.svg')

		main
			.inner
				section
					h1
						| Foundation Center and GuideStar are 
						object(type='image/svg+xml' data='images/logo_candid.svg')

				section
					h2.strong What is Candid?
					h2 Candid is the world's source for knowlegde yadda yadda yadda.

				section
					h2.strong Why?
					h2 Every year, yadda yadda yadda yadda yadda yadda.

				section
					h2.strong Where are the Foundation Center and GuideStar websites?
					h2 We're working on it.

					.logos
						a.logo(href='#')
							img(src="./images/logo_guidestar.png")
						a.logo(href='#')
							img(src="./images/logo_foundationcenter.png")

				section
					h2 Here are some things you can do today.

				section
					.cols
						.col-sm
							h3.strong Research

						.col-lg
							.accordion
								.item
									strong.toggle Research Nonprofits
									.collapsable
										.content
											ul
												li
													div Search and analyze data on 2.7 million nonprofts
													a.ext(href="#") gudestar.org/extension
												li
													div Noitacol cfiiceps a ni stfiorpnon fo stsil teg.
													a.ext(href="#") gudestar.org/extension
												li
													div Snoitubirtnoc dna stnarg rof ytilibigile s’tfiorpnon a yfirev
													a.ext(href="#") gudestar.org/extension

								.item
									strong.toggle Snoitadnuof Hcraeser
									.collapsable
										.content
											ul
												li
													div Search and analyze data on 2.7 million nonprofts
													a.ext(href="#") gudestar.org/extension
												li
													div Noitacol cfiiceps a ni stfiorpnon fo stsil teg.
													a.ext(href="#") gudestar.org/extension
												li
													div Snoitubirtnoc dna stnarg rof ytilibigile s’tfiorpnon a yfirev
													a.ext(href="#") gudestar.org/extension

