doctype html

html(xmlns='http://www.w3.org/1999/xhtml' lang='en-US')
	include head.pug
	body
		include header.pug
		main
			.inner
				section
					h1
						| Foundation Center and GuideStar are 
						span.candid-logo
							span.screen-reader-text Candid.
							span.logo-text .

				section
					h2 What is Candid?
					h3 Candid is the world's source for knowledge yadda yadda yadda.

				section
					h2 Why?
					h3 Every year, yadda yadda yadda yadda yadda yadda and 
						a(href='') a link
						| .

				section
					h2 Where are the Foundation Center and GuideStar websites?
					h3 We're working on it.

					.logos
						a.logo(href='http://foundationcenter.org/' target='_blank')
							img(src="./images/logo_fc.png")
						a.logo(href='https://www.guidestar.org/' target='_blank')
							img(src="./images/logo_gs.png")

				section
					h2 Here are some things you can do today.

				section
					.cols
						.col-sm
							h4.sm-h3 Research

						.col-lg
							.accordion
								.item
									strong.toggle Research Nonprofits
									.collapsable
										.content
											ul
												li
													div Search and analyze data on 2.7 million nonprofts
													a.ext(href="#") gudestar.org/extension
												li
													div Noitacol cfiiceps a ni stfiorpnon fo stsil teg.
													a.ext(href="#") gudestar.org/extension
												li
													div Snoitubirtnoc dna stnarg rof ytilibigile s’tfiorpnon a yfirev
													a.ext(href="#") gudestar.org/extension

								.item
									strong.toggle Snoitadnuof Hcraeser
									.collapsable
										.content
											ul
												li
													div Search and analyze data on 2.7 million nonprofts
													a.ext(href="#") gudestar.org/extension
												li
													div Noitacol cfiiceps a ni stfiorpnon fo stsil teg.
													a.ext(href="#") gudestar.org/extension
												li
													div Snoitubirtnoc dna stnarg rof ytilibigile s’tfiorpnon a yfirev
													a.ext(href="#") gudestar.org/extension

				section
					.cols
						.col-sm
							h4.sm-h3 Improve

						.col-lg
							.accordion
								.item
									strong.toggle Research Nonprofits
									.collapsable
										.content
											ul
												li
													div Search and analyze data on 2.7 million nonprofts
													a.ext(href="#") gudestar.org/extension
												li
													div Noitacol cfiiceps a ni stfiorpnon fo stsil teg.
													a.ext(href="#") gudestar.org/extension
												li
													div Snoitubirtnoc dna stnarg rof ytilibigile s’tfiorpnon a yfirev
													a.ext(href="#") gudestar.org/extension

								.item
									strong.toggle Snoitadnuof Hcraeser
									.collapsable
										.content
											ul
												li
													div Search and analyze data on 2.7 million nonprofts
													a.ext(href="#") gudestar.org/extension
												li
													div Noitacol cfiiceps a ni stfiorpnon fo stsil teg.
													a.ext(href="#") gudestar.org/extension
												li
													div Snoitubirtnoc dna stnarg rof ytilibigile s’tfiorpnon a yfirev
													a.ext(href="#") gudestar.org/extension


				section
					.cols
						.col-sm
							h4.sm-h3 Share

						.col-lg
							.accordion
								.item
									strong.toggle Research Nonprofits
									.collapsable
										.content
											ul
												li
													div Search and analyze data on 2.7 million nonprofts
													a.ext(href="#") gudestar.org/extension
												li
													div Noitacol cfiiceps a ni stfiorpnon fo stsil teg.
													a.ext(href="#") gudestar.org/extension
												li
													div Snoitubirtnoc dna stnarg rof ytilibigile s’tfiorpnon a yfirev
													a.ext(href="#") gudestar.org/extension

								.item
									strong.toggle Snoitadnuof Hcraeser
									.collapsable
										.content
											ul
												li
													div Search and analyze data on 2.7 million nonprofts
													a.ext(href="#") gudestar.org/extension
												li
													div Noitacol cfiiceps a ni stfiorpnon fo stsil teg.
													a.ext(href="#") gudestar.org/extension
												li
													div Snoitubirtnoc dna stnarg rof ytilibigile s’tfiorpnon a yfirev
													a.ext(href="#") gudestar.org/extension

		include footer.pug